Any news about this?

As a sidenote I think any algorithm agility based on keylength is a footgun in the future.

I had a chat with @rgmhtt today over the phone on this (@cardsw sitting in later). He is digging back through to ensure we do not tread onto ground that was deemed unsafe for some cryptographic reason.

The intent from his memory was for it to include the "EdDSA Curve Label" as part of the hash input (i.e. "use the Host Identity field from the HOST_ID parameter"). This also aligns with the existing process for ECDSA in RFC7401. Thus, me and Bob and working towards a few erratum to file on RFC9374 and RFC7401 to clarify some things.

> Rant: I call into question why there is a whole new "EdDSA Curve Label" table when it could of maybe just been part of the existing "ECC Curve Table" (lots of libraries I see group EdDSA with other existing ECC functions/classes) but I am sure there was good reason for this from a protocol standards perspective.

**The above intent aligns with the changes made in the linked PR** and thus can be merged once Bob confirms fully no outstanding issue, we foresee none of significance to impede such a change. 

@tuupola in direct response to your sidenote:

We have one outstanding "gotcha" that affects DRIP-only users (HIP-only users are fine). The EdDSA Suite ID (5) is, from our discussion at this current time, implicitly selecting the Ed25519 curve. Everything in DRIP is built around this curve thus distinguishing between them (Ed25519 and Ed448) is an open "gotcha". In HIP this difference is covered by the HOST_ID parameter of RFC7401 and the existing HIP RRType format for DNS retrieval.

For DRIP, the use of X.509 for the HHIT RRType certificate avoids the issue as it includes in the SubjectPublicKeyInfo the curve. It also is avoided as RFC9575 is scoped only to use Ed25519. One MAY get away with do a mix of an Ed448 entity endorsing an Ed25519 entity, but we don't see this as being a common thing plus it would require a revision of RFC9575 to support. 

We MAY update the Suite ID table to have independent enumerations for each curve+hash. Unsure at this time as this should be done for ECDSA (P-256, P-384 curves) at minimum as well.

It is an open question on future key algorithms, however it was discussed between the two of us that in the future (specifically in regards to PQC) we will burn through a series of Suite IDs to indicate not just algorithm family or key size but also any other fixed parameter sets. Hence, the MAY update the Suite ID table comment above. We do agree with you that a Suite ID MUST NOT have the user rely on the length of a key to determine which "subset" of key it is (such as its curve).